.main{

    background-image: url('ICONOS/USUARIO/FondoConfetti.svg');
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.headerNombre{
    background-image: url('ICONOS/USUARIO/FONDOVEREVEN.svg');
    padding-top: 3%;
    padding-bottom: 2%;
}

/*BOTONES*/
#btnAtrasVerEvento {
    background-color: #8a8a8a; /* Naranja personalizado */
    color: white;
    border: none;
    
    padding-left: 20%;
    padding-right: 20%;
}

#btnAtrasVerEvento:hover {
    background-color: #571010 !important; /* Naranja personalizado */
    color: white !important;
    border: none !important;
}

#btnReservar {
    background-color: #80c235; /* Naranja personalizado */
    color: white;
    border: none;
}

#btnReservar:hover {
    background-color: #ffffff !important; /* Fondo blanco */
    color: #80c235 !important; /* Texto verde */
    border: 2px solid #80c235 !important; /* Borde verde */
}
.bodyReservar {
    background-color: #e5e5f0da; /* Usando el valor hexadecimal de $gray-300 */
    border-radius: 15px;
}

#imagenEvento {
    width: 80%;
    height: 60% ;
    object-fit: cover; /* Mantiene las proporciones sin deformar */
	position: relative;
	object-position: top; /* Muestra la parte superior de la imagen */
}

