<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Evento</title>


    <!---ICONS-->
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <!---CDN DE BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!---CDN DE BOOTSTRAP ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!---Hoja de estilos-->
    <link rel="stylesheet" href="/VerEventoStyle.css">
    <link rel="stylesheet" href="/styleMenuUser.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/ICONOS/USUARIO/FAVICON/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/ICONOS/USUARIO/FAVICON/favicon.svg" />
    <link rel="shortcut icon" href="/ICONOS/USUARIO/FAVICON/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/ICONOS/USUARIO/FAVICON/apple-touch-icon.png" />
    <link rel="manifest" href="/ICONOS/USUARIO/FAVICON/site.webmanifest" />

</head>
<body>
        <!--INICIO MENU VERTICAL-->
        <div class="wrapper">
            <aside id="sidebar">
                <div class="d-flex">
                    <button class="toggle-btn" type="button">
                        <i class="bi bi-list fs-2"></i>
                    </button>
                    <div class="sidebar-logo">
                        <a href="#">LogiEvents</a>
                    </div>
                </div>
                <ul class="sidebar-nav ">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link" id="perfilLink">
                            <i class="bi bi-person-fill fs-4"></i>
                            <span>Perfil</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link itemSelected" id="eventosLink">
                            <i class="bi bi-cake-fill fs-4"></i>
                            <span>Eventos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link" id="notiLink">
                            <i class="bi bi-bell-fill fs-4"></i>
                            <span>Notificaciones</span>
                        </a>
                    </li>
                </ul>
                <div class="sidebar-footer">
                    <a href="#" class="sidebar-link" id="loginLink">
                        <img src="/ICONOS/USUARIO/SALIS.svg" alt="Icono">
                        <span>Logout</span>
                    </a>
                </div>
            </aside>
            <div class="notification" id="notificationBox">
                <button class="btn close-btn" onclick="toggleNotification()">
                    <i class="bi bi-x-lg"></i> <!-- Ícono de la "X" de Bootstrap -->
                  </button>
                <ul id="notificationList">
                  <!-- Las notificaciones se cargarán aquí -->
                </ul>
                
            </div>
            <!--FIN MENU VERTICAL-->

            <div class="main justify-content-center align-items-center vh-100">
                
                <div class="row justify-content-between align-items-center headerNombre px-5">
                    <div class="col-auto">
                        <h1 class="display-3 fw-bold text-white" id="nameEventos">MELENDI</h1>
                    </div>
                    <div class="col-auto">
                        <img src="ICONOS/USUARIO/LogoLogiEventsWhite.svg" alt="LOGO" style="height: 80px;">
                    </div>
                </div>
                <div class="row justify-content-center align-items-center py-5">
                    <div class="col-11">
                        
                        <div class="row p-5">
                            <div class="col-6">

                                <div class="row justify-content-center">
                                    <div class="col-auto justify-content-center align-items-center">
                                        <img src="/ICONOS/USUARIO/melendiPrueba.png" alt="Imagen del evento" class="img-fluid" id="imagenEvento" style="height: 300px; width: 100%;">
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 ">

                                <div class="row">
                                    <div class="col-auto justify-content-center align-items-center">
                                        <p><span class="fw-bold fs-4">Estado: </span> <span class="fs-5" id="viewestado">Activo</span></p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-auto justify-content-center align-items-center">
                                        <p><span class="fw-bold fs-4">Categoria: </span> <span class="fs-5" id="viewconcierto">Concierto</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto justify-content-center align-items-center">
                                        <p><span class="fw-bold fs-4">Fecha: </span> <span class="fs-5" id="viewfecha">Sábado, 26 de abril de 2025 19:00 HRS</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto justify-content-center align-items-center">
                                        <p><span class="fw-bold fs-4">Ubicacion: </span> <span class="fs-5" id="viewubicacion">Alajuela, Grecia</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto justify-content-center align-items-center">
                                        <p><span class="fw-bold fs-4">Precio: </span> <span class="fs-5" id="viewprecio">5000</span> <span>c/u</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto justify-content-center align-items-center">
                                       <p id="descriptionEvent">
                                        ¡Prepárate para vivir una experiencia única con Melendi en vivo! El reconocido cantautor español llega con su energía inigualable, su voz inconfundible y un repertorio lleno de emociones.
                                       </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-start gap-3">
                                        <button type="submit" class="btn btn-primary rounded-pill btn-lg" id="btnReservar">Reservar</button>
                                
                                        <a href="RegistrarUsuario.html">
                                            <button type="button" class="btn btn-primary rounded-pill btn-lg" id="btnAtrasVerEvento">Atrás</button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


    <!---CDN DE BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!--ARCHIVO JS-->
    <script type="text/javascript" src="/scriptMenuUser.js"></script>
    <script type="text/javascript" src="/viewEvent.js"></script>
</body>
</html>