<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Administradores</title>

        <!--ALERTAS-->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!---ICONS-->
        <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
        <!---CDN DE BOOTSTRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!---CDN DE BOOTSTRAP ICONS-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
        <!---Hoja de estilos-->
        <link rel="stylesheet" href="../styleMenuAdmin.css">
        <link rel="stylesheet" href="./styleVisualizarUsuarios.css">
    
        <!---FAVICON-->
        <link rel="icon" type="image/png" href="../ICONOS/USUARIO/FAVICON/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="../ICONOS/USUARIO/FAVICON/favicon.svg" />
        <link rel="shortcut icon" href="../ICONOS/USUARIO/FAVICON/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="../ICONOS/USUARIO/FAVICON/apple-touch-icon.png" />
        <link rel="manifest" href="../ICONOS/USUARIO/FAVICON/site.webmanifest" />
        
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="bi bi-list fs-2"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#">LogiEvents</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link" id="perfilLink">
                        <i class="bi bi-person-fill fs-4"></i>
                        <span>Perfil</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-calendar3"></i>
                        <span>Eventos</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">
                        <i class="bi bi-graph-up-arrow"></i>
                        <span>Estadisticas</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link itemSelected">
                        <i class="bi bi-people"></i>
                        <span>Administradores</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" class="sidebar-link">
                    <img src="../ICONOS/USUARIO/SALIS.svg" alt="Icono">
                    <span>Logout</span>
                </a>
            </div>
        </aside>

        <!-- Contenido principal -->
        <div class="container mt-5">
            <div class="d-flex justify-content-between align-items-start mb-4 header-container">
                <div>
                    <h1 class="titulo-principal">Administradores</h1>
                    <h8 class="subtitulo">LogiEvents</h8>
                </div>
                <button class="btn btn-primary btn-agregar">
                    <i class="bi bi-plus-circle"></i> Agregar Administrador
                </button>
            </div>

            <!-- Tabla de administradores -->
            <div class="d-flex justify-content-center">
                <div class="w-100">
                    <div class="card shadow-sm">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0" id="tablaEventos">
                                    <thead class="cabecera-tabla">
                                        <tr>
                                            <th class="col-id">ID</th>
                                            <th class="col-evento">Nombre</th>
                                            <th class="col-fecha">Email</th>
                                            <th class="col-asistencia">Telefono</th>
                                            <th class="col-estado">Cédula</th>
                                            <th class="col-accion">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modal fade confirm-modal" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="confirmDeleteModalLabel">Advertencia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Después de eliminar el administrador<br>no se podrán revertir cambios</p>
                    <div class="confirm-checkbox">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="confirmCheckbox">
                            <label class="form-check-label" for="confirmCheckbox">¿Estas seguro?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-confirm" id="confirmDeleteBtn">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

            
            
<!---CDN DE BOOTSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!--ARCHIVO JS-->
<!-- Cargar jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Cargar Bootstrap JS (después de jQuery) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
<script src="../scriptMenuAdmin.js"></script>
<script src="./visualizarUsuarios.js"></script>

</body>
</html>