/*BOTONES*/
#btnRegresarUser {
    background-color: #700000; /* Naranja personalizado */
    color: white;
    border: none;
    padding-left: 10%;
    padding-right: 10%;

}

#btnRegresarUser:hover {
    background-color: #571010 !important; /* Naranja personalizado */
    color: white !important;
    border: none !important;
}

#btnModificarPerfilUser {
    background-color: #b99725; /* Naranja personalizado */
    color: white;
    border: none;
    padding-left: 30%;
    padding-right: 30%;
}

#btnModificarPerfilUser:hover {
    background-color: #ffffff !important; /* Fondo blanco */
    color: #80c235 !important; /* Texto verde */
    border: 2px solid #80c235 !important; /* Borde verde */
}

#btnGuardarUsuarioM {
    background-color: #b99725; /* Naranja personalizado */
    color: white;
    border: none;
}

#btnGuardarUsuarioM:hover {
    background-color: #ffffff !important; /* Fondo blanco */
    color: #80c235 !important; /* Texto verde */
    border: 2px solid #80c235 !important; /* Borde verde */
}


.bodyRegister {


    background-color: #f3f3f7fd; /* Usando el valor hexadecimal de $gray-300 */
    border-radius: 15px;
}
